<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>問題</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container">
        <div class="question_image">
            <p>準備放題目圖片</p>
        </div>

        <div class="question">
            <p>題目區</p>
        </div>
        <div class="options">
            <p>選項區</p>
        </div>
    </div>

    <div class="container2">
        <button type="submit" class="previous">
            前一題
        </button>
        <button type="submit" class="next">
            下一題
        </button>
    </div>
</body>
</html>