<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主畫面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container"> 
        <div class="title">
            <p>這是一個心理測驗</p>
        </div>
        <div class="imageblock">
            <p>預備放圖片</p>
        </div>

        <button type="submit" class="start">
            點選開始測驗
        </button>
        
    </div>
</body>
</html>
